<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uts.group4.UTShealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".PatientDashboard" />
        <activity android:name=".DatabaseTester">
            <intent-filter>
                <action android:name="com.company.package.FOO"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientLogin" />
        <activity android:name=".Register" />
        <activity android:name=".BookAppointment" />
        <activity android:name=".Chat" />
        <activity android:name=".PatientRegistration" />
        <activity android:name=".PatientResetPass" />
        <activity android:name=".StaffCreateProfile" />
        <activity android:name=".StaffDashboard" />
        <activity android:name=".StaffHomepage" />
        <activity android:name=".StaffRequestAcc" />
        <activity android:name=".StaffResetPass" />
        <activity android:name=".StaffCreateProfile$StaffFinishPage" />
        <activity android:name=".StaffCreateProfile$StaffAddDetails" />
        <activity android:name=".PatientRegistration$RegisterFinishPge" />
        <activity android:name=".PatientRegistration$RegisterDetailsPge" />
        <activity android:name=".PatientRegistration$RegisterPassPge" />

    </application>

</manifest>