<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uts.group4.UTShealth">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".PatientDoctorView"></activity>
        <activity android:name=".DoctorAvailability"></activity>
        <activity android:name=".DatabaseTester">
            <intent-filter>
                <action android:name="com.company.package.FOO"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Confirmation"/>
        <!-- FileProvider - a ContentProvider for making the image file securely available to the other end -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="uts.group4.UTShealth.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientLogin" />
        <activity android:name=".BookAppointment" />
        <activity android:name=".Chat" />
        <activity android:name=".PatientDashboard" />
        <activity android:name=".PatientProfilePage" />
        <activity android:name=".PatientRegistration" />
        <activity android:name=".PatientResetPass" />
        <activity android:name=".StaffCreateProfile" />
        <activity android:name=".StaffDashboard" />
        <activity android:name=".StaffLogin" />
        <activity android:name=".StaffRequestAcc" />
        <activity android:name=".StaffResetPass" />
        <activity android:name=".StaffCreateProfile$StaffFinishPage" />
        <activity android:name=".StaffCreateProfile$StaffAddDetails" />
        <activity android:name=".PatientRegistration$RegisterFinishPge" />
        <activity android:name=".PatientRegistration$RegisterDetailsPge" />
        <activity android:name=".PatientRegistration$RegisterPassPge" />
        <activity android:name=".PatientRegistration$reg_billing_address" />
        <activity android:name=".PatientDashboard$PatientPastAppointments" />
        <activity android:name=".StaffProfilePage" />
        <activity android:name=".PrescriptionNotes" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKXYbeT9cWV_7ucWc4LH8GSw4XOoXyGMI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



</manifest>